/****************** Tag  SELECTORS *****************/
h1{
    color: red;
    font-size: 200px;
}




/* img{
    background-color: red;;
}
 */



 /*********************** CLASS SELECTORS ***********/

 .bacon {
     background-color: green;
 }

 .robot {
     background-color: red;
 }